# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.npmrc
.yarnrc
node_modules
package-lock.json
npm-shrinkwrap.json
*-debug.log*
*-error.log*

# testing
/.nyc_output
/coverage

# build output
/build
/dist
/storybook-static

# secrets
*.crt
*.key
*.rsa
.env
.ci-env

# editor files
.editorconfig
.idea
.vscode

# cli files
oclif.manifest.json

# tmp files
/tmp
~*
.#*
.cache*
.gitlab-ci

# misc
.DS_Store
*.log
